    body {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.2rem;
        color: #888;
         text-decoration: none;
    }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
 background-color: transparent;
}
/*基本樣式*/
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
}
    a:hover {
        text-decoration: none;
        color: #3ab2d9;
        background-color: transparent;
    }


  .blue{
    color:#3AB2D9;
  }
  .green{
    color:#39D0CB;
  }
  .lgreen{
    color: #16E8B1;
  }

    .btn-info:hover {

        background-color: #3ab2d9;
        transition: background-color .3s;
        -moz-transition: background-color .3s;
        /* Firefox 4 */
        -webkit-transition: background-color .3s;
        /* Safari and Chrome */
        -o-transition: background-color .3s;
    }
    /*google font*/
@media (max-width: 768px) {
       .container{
        width: 90%;
       }
       .col-xs-12{
        margin-bottom: 30px;
       }
    }
   /* 下拉選單改樣式*/
  /**/
    .dropdown-menu {
   
    border: 2px solid #39D0CB;
    font-size: .7rem
   /* border: 0;*/
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow:none;
    text-align: center;
   opacity: .97;
}
.dropdown-menu>li>a {
    display: inline-block;
    padding: 15px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.2rem;
    color: #777;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover {
    color: #777;
    text-decoration: none;
    background-color: transparent;
/*    -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;*/

}


   }
    .btn-info {
        background-color: transparent;
        border-radius: 50px;
        color: #3ab2d9;
    }

    @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
    * {
        font-family: 'Noto Sans TC', sans-serif;
    }

    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .navbar-default-custom {
        background-color: #FFF;
        padding-top: 8px;
        padding-bottom: 8px;
        border-width: 0;
        border-radius: 0;
        margin: 0;
    }

    .navbar-brand>img {
        display: block;
        width: 45px;
        margin-top: -9px;
    }

    .gradient {
        width: 100%;
        height: 2px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ab2d9+0,16e8b1+100 */
        background: #3ab2d9;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab2d9', endColorstr='#16e8b1', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        vertical-align: bottom;
    }

    @media (min-width: 768px) {
        .container-top {
            width: 900px;
        }
    }

    @media (min-width: 992px) {
        .container-top {
            width: 1055px;
        }
    }

    @media (min-width: 1200px) {
        .container-top {
            width: 1170px;
        }
    }
    /*大項標題*/

    h1 {
        font-size: 1.6rem;

        color: #7F8080;
        letter-spacing: .7rem;
        font-weight: 400;
    }

    .topic {
        position: relative;
        z-index: 0;
        margin-top: 30%;
        margin-bottom: 15%;
    }

    .row-topic {
        position: relative;
        margin-bottom: 2%;
    }

    .more {
        position: absolute;

        right: 0;
        bottom: 10px;
    }

    .topic:after {
        content: "";
        display: block;
        height: 15px;
        width: 100%;
        z-index: -1;
        bottom: -29%;
        left: -2%;
        position: absolute;
        background-color: #C9D9DF;
        border-radius: 20px;
        opacity: .6;
    }

    .row-topic {
        text-align: left;
    }

    .title {

        display: inline-block;
    }

    .more {
        float: right;
    }
    .more a{
        color: #555;
        
    }
    /*大項標題end*/

    .form-control {
        box-shadow: none;
        border-radius: 50px;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #3ab2d9;
        color: #3ab2d9;
    }

    input::placeholder {
        color: #3ab2d9;
    }

    .btn-go {
        padding: 6px 20px;
        border-radius: 50px;
        letter-spacing: 0.2rem;
        color: #3ab2d9;
        border-color: #3ab2d9;
        overflow: hidden;
    }

    .btn-go:hover,
     :active {
        color: #3ab2d9;
    }

    .carousel-control.left {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .0001) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .0001) 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .0001)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
    }

    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .1)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
    }
    /* Underline From Left */

    .hvr-underline-from-left {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        color: #3ab2d9;
        overflow: hidden;
    }

    .hvr-underline-from-left:before {
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        opacity: 0.7;
        right: 100%;
        bottom: 10px;
        color: #3ab2d9;
        background: #3ab2d9;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab2d9', endColorstr='#16e8b1', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        height: 2px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-underline-from-left:hover:before,
    .hvr-underline-from-left:focus:before,
    .hvr-underline-from-left:active:before {
        right: 0;
    }

    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        color: #3ab2d9;
        background-color: transparent;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }



    .btn-gogo {
        border-color: #FFF;
        background-color: transparent;
        font-size: 1.5rem;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 60px;
        overflow: hidden;
    }
    /* 按鈕Sweep To Right */

    .hvr-sweep-to-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .hvr-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #3ab2d9;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #3ab2d9 0%, #16e8b1 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab2d9', endColorstr='#16e8b1', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-sweep-to-right:hover,
    .hvr-sweep-to-right:focus,
    .hvr-sweep-to-right:active {
        color: white;
    }

    .hvr-sweep-to-right:hover:before,
    .hvr-sweep-to-right:focus:before,
    .hvr-sweep-to-right:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .btn-primary:hover {

        background-color: transparent;
        border-color: #FFF;
    }
    /*太小時搜尋框gone*/

    @media (max-width: 1024px) {
        .navbar-left {
            display: none;
        }
    }
    /*burger*/

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #3ab2d9;
    }
    /*banner之下開始 */
    /*商品區*/

    .pro-container:before {
        content: " ";
        display: block;
        padding-top: 100%;
        /*利用padding来撑开*/
    }

    .pro-container {
        position: relative;
    }

    .pro-container .content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;
    }

    .pro-container .content img {
        width: 100%;
        height: 100%;
        transition: transform .3s;
        -moz-transition: transform .3s;
        /* Firefox 4 */
        -webkit-transition: transform .3s;
        /* Safari and Chrome */
        -o-transition: transform .3s;
    }

    .pro-container .content img:hover {
        transform: scale(1.1);
    }

    .pro-detail {
        font-size: .9rem;
    }

    .pro-detail a {
        font-size: .9rem;
    }

    .pro-detail .pro-name {
        margin-top: 10px;
    }
    /*商品區end*/
    /* 代購專區*/
    .rel{
    position: relative;
}
.create-case{
    background-color: #39D0CB;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 10px;
    margin-right: 15px;
    padding-top: 10px;
    color: #FFF;
    position: absolute;
    top:15px;
    right: 0;
    border-color: #39D0CB;
 

}
a.lookmore{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #555;
    position: relative;

}
.mt30{
    margin-top: 30px;
}
a.lookmore:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;

    height: 3px;
    width: 100%;
    background-color: #555;

}


  
    .topic-purchase {
        /*color:#3ab2d9;*/
    }

    .topic-purchase:after {
        background-color: #39D0CB;
    }

    .card{
         /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);*/
         border-radius: 5px;
         padding-top: 30px;
         padding-bottom: 30px;
         background-color: #FFF;
         border:1px solid #39D0CB;
  }

    .user-avatar{
        overflow: hidden;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        display: inline-block;

    }
    .user-avatar img{
        width: 100%;
        object-fit: contain;

    }
 .purchase-body{
  
    padding-bottom: 20px;
 }
    .purchase-foot a{
        display: inline-block;
        margin-bottom: 10px;
    }
    .purchase-list{
        text-align: left;
    }

    .purchase-body>ul>li{
        list-style: none;
        margin-bottom: 5px;
        font-size: 1rem;

    }
    .btn-help{
        border-color:#39D0CB;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card a{
         color:#777;
    }
    .card a:hover{
        color:#777;
    }
    /*代購專區end*/
    /* 揪團專區*/

    .progress-custom{
            width: 80%;
    display: inline-block;
    border-radius: 50px;
    height: 10px;
    box-shadow: none;
        
        margin-bottom: 0;
    }

    .topic-groupbuy:after {
        background-color: #3AB2D9;
    }
.progress-bar{
    background-color: #f0cd41;
    box-shadow: none;

}
p.countdown{
    font-size: .9rem;
    color: #f0cd41;
}
section.grey{
    background-color: #F9F9F9;
}
section.groupbuy{
padding-top: 0;
padding-bottom: 100px;
}

    /* 揪團專區end*/

    /*最新消息*/

    .news {
        list-style: none;
        text-align: left;
        padding-left: 0px;
        color: #999;
    }

    span.date {
        display: block;

        font-size: 1rem;
        letter-spacing: .1rem;
    }

    li {
        margin-bottom: 8px;
    }

    .news li a {
        font-size: 1.3rem;
        color: #999;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 60px;
        background-color: #5B5B5B;
    }

    .footer .link-list {
        border-bottom: solid 1px #909192;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding: 20px 0;
        text-align: left;
    }

    .footer .link-list>li {
        margin-bottom: 0;
        display: inline-block;
        padding-right: 20px;
    }

    .footer .link-list>li a {
        color: #FFF;
        font-size: 1.3rem;
        font-weight: 200;
    }

