html{

}
body{
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    letter-spacing:0.3rem;
    color:#0E2A57;
}
/*google font*/

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    font-family: 'Ubuntu', sans-serif;
}*/